<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Videograph Template">
    <meta name="keywords" content="Videograph, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jenine Narain</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav__option">
                        <nav class="header__nav__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="./index.html">Home</a></li>
                                <li><a class="nav-link" asp-area="" asp-action="Resume" asp-controller="Home">Resume</a></li>

                                <li><a class="nav-link" asp-area="" asp-action="Projects" asp-controller="Home">Projects</a></li>
                                <li><a class="nav-link" asp-area="" asp-action="Contact" asp-controller="Home">Contact</a></li>


                            </ul>
                        </nav>
                        <div class="header__nav__social">
                            <a href="https://github.com/Jenine-Narain"> <img src="img/git.png" alt=""></a>
                            <a href="https://www.linkedin.com/in/jenine-narain-49b961319/"> <img src="img/link.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            <div class="hero__item set-bg" data-setbg="img/hero/hero-1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <span>ASP.NET  /  C#</span>
                                <h2>Software Developer</h2>
                                <a href="#" class="primary-btn">SEE RESUME</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__item set-bg" data-setbg="img/hero/hero-1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <span>Python  /  Java</span>
                                <h2>Software Developer</h2>
                                <a href="#" class="primary-btn">SEE MY WORK</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__item set-bg" data-setbg="img/hero/hero-1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <span>HTML  /  Javascript</span>
                                <h2>Software Developer</h2>
                                <a href="#" class="primary-btn">CONTACT ME</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->



    <!-- Services Section Begin -->
    <section class="services spad">
        <div class="container">

            <!--TEST-->
            <div class="row">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="contact__map">
                            <img src="img/2.jpg"
                                    height="450" style="border:0;" /> 
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="contact__form">
                            
                            <h3>
                                HI THERE!
                            </h3>
                 
                            <p>
  
                                    Versatile software developer with a passion for learning 
                                    and a strong track record of designing, developing
                                    and implementing digital solutions.

                                <br />
                                <br />

                                    Working in a small digital office servicing a large organization
                                    (50,000+ employees), managing end-to-end responsibilities 
                                    across development, implementation, and support.


                                <br />
                                <br />
                                    Equally effective working independently or in team settings, 
                                    leveraging a broad skill set to deliver technology solutions 
                                    that actually make a difference.
                               
                            </p>

                        </div>
                    </div>
                </div>


            </div>


            <div class="row">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                

            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="services__title">
                        <div class="section-title">
                         
                            <h2>SKILLS</h2>
                        </div>
                        <p>
                            Skilled in leveraging various programming languages, tools, and methodologies to deliver impactful software solutions, including:
                        </p>
                        <a href="#" class="primary-btn">SEE MY WORK</a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="services__item">
                                <div class="services__item__icon">
                                    <img src="img/icons/si-1.png" alt="">
                                </div>
                                <h4>Programming & Development</h4>
                                <p>
                                    Python, Java, C#, C++, ASP.NET, HTML, JavaScript
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="services__item">
                                <div class="services__item__icon">
                                    <img src="img/icons/si-2.png" alt="">
                                </div>
                                <h4>Agile Project Management</h4>
                                <p>
Strong understanding of Agile & Scrum methodologies, project management techniques, and change management practices.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="services__item">
                                <div class="services__item__icon">
                                    <img src="img/icons/si-3.png" alt="">
                                </div>
                                <h4>Communication & Collaboration</h4>
                                <p>
                                    Stakeholder management, requirements gathering, and problem-solving to ensure effective team communication and project success.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="services__item">
                                <div class="services__item__icon">
                                    <img src="img/icons/si-4.png" alt="">
                                </div>
                                <h4>Data & Tools</h4>
                                <p>
                                   Expertise in data management tools and platforms like SQL, SharePoint, Power Platform, and Visual Studio to optimize workflow and development.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->


    <!-- Testimonial Section Begin -->
    <section class="testimonial spad set-bg" data-setbg="img/testimonial-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title center-title">
                        <span>CLICK TO TO OPEN</span>
                        <h2>Certifications</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="testimonial__slider owl-carousel">
                    <div class="col-lg-4">
                        <div class="testimonial__item">

                            <div class="testimonial__text">
                                <a href="https://www.freecodecamp.org/certification/fcc039973d9-ef52-4e00-b710-b87a14f42dc0/responsive-web-design">
                                <p    ><b>
                                    Responsive Web Design</b>
                                </p>
                                </a>
                            </div>
                            <div class="testimonial__author">
                                <div class="testimonial__author__pic">
                                    <img src="img/testimonial/ta-1.jpg" alt="">
                                </div>
                                <div class="testimonial__author__text">
                                    <h5>freeCodeCamp</h5>
                                    <span>2022</span>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="col-lg-4">
                        <div class="testimonial__item">



                            <div class="testimonial__text">


                                <a href="https://www.freecodecamp.org/certification/fcc039973d9-ef52-4e00-b710-b87a14f42dc0/javascript-algorithms-and-data-structures">
                                    <p>
                                        <b>
                                            JavaScript Algorithms and Data Structures
                                        </b>
                                    </p>
                                </a>


                            </div>
                            <div class="testimonial__author">
                                <div class="testimonial__author__pic">
                                    <img src="img/testimonial/ta-1.jpg" alt="">
                                </div>
                                <div class="testimonial__author__text">
                                    <h5>freeCodeCamp</h5>
                                    <span>2022</span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4">
                        <div class="testimonial__item">



                            <div class="testimonial__text">


                                <a href="https://www.freecodecamp.org/certification/fcc039973d9-ef52-4e00-b710-b87a14f42dc0/javascript-algorithms-and-data-structures">
                                    <p>
                                        <b>
                                            JavaScript Algorithms and Data Structures
                                        </b>
                                    </p>
                                </a>


                            </div>
                            <div class="testimonial__author">
                                <div class="testimonial__author__pic">
                                    <img src="img/testimonial/ta-1.jpg" alt="">
                                </div>
                                <div class="testimonial__author__text">
                                    <h5>freeCodeCamp</h5>
                                    <span>2022</span>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Section End -->
   
 
    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="footer__top">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__top__logo">
                            <br />
                            <a href="#"><img src="img/logo-2.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__top__social">
                            <a href="https://github.com/Jenine-Narain"> <img src="img/git.png" alt=""></a>
                            <a href="https://www.linkedin.com/in/jenine-narain-49b961319/"> <img src="img/link.png" alt=""></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__option">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="footer__option__item">
                            <h5>About Me</h5>
                            <p>
                                Versatile software developer with expertise in designing, developing and implementing digital solutions..
                            </p>
                            <a  asp-area="" asp-action="Contact" asp-controller="Home" class="read__more">CONTACT ME <span class="arrow_right"></span></a>
                        </div>
                    </div>
               
                    <div class="col-lg-4 col-md-12">
                        <div class="footer__option__item">
                            <h5>See More</h5>
                            <p>
                            <ul>

                            <li><a class="nav-link" asp-area="" asp-action="Resume" asp-controller="Home">Resume</a></li>

                            <li><a class="nav-link" asp-area="" asp-action="Projects" asp-controller="Home">Projects</a></li>
                            <li><a class="nav-link" asp-area="" asp-action="Contact" asp-controller="Home">Contact</a></li>
                            </ul>
                          

                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <div class="footer__option__item">
                            <h5>Details</h5>
                            <p>
                              <ul>
                                    <li>
                                        <p><img src="img/icons/email.png" alt=""> jenine.narain@gmail.com</p>
                                    </li>
                                     <li>
                                        <p><img src="img/icons/phone.png" alt=""> +27 71 401 5939</p>
                                    </li>
                                    <li>
                                        <p><img src="img/icons/pin.png" alt=""> Durban, South Africa</p>
                                    
                                    </li>
                                </ul>


                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                <div class="row">
                    <div class="col-lg-12 text-center">
             
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>